body{
    width:430px;
    height:250px;
    box-shadow: 10px solid blue;
    border: none;
    padding: 0.7em 0;
} 

.header {
    padding:7px;
    text-align: left;
}

mat-divider{
    padding:2px;
}
.content{
    padding-top: 30px;
}

.content .input{
    padding: 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.content .btns{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:7px;

}

.content .btns .confirm{
    background-color: #009688;
    border:none;
    color:white;
    font-size:1.1em;

}

.content .champ{
    
    width: 15em;
    height: 5.8em; 
    padding-left: 10px;
    padding-right: 10px;

}

.content label{
    font-size:1.2em;
}

.content .btns .cancel{
    background-color: transparent;
    color: #009688;
    border:none;
    font-size:1.1em;

}

ngb-alert{
    background-color: transparent;
    color: red;
    margin-left:20px;
    border:none;
    font-size: 0.9em;
}