<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="head">
        <div class="loginBtn">
            <button (click)="onclick()">
                    Login
            </button>
        </div>

        <mat-divider></mat-divider>

        <div class="content">
            <div class="status404">
                <h1 style="font-weight: bolder;">Oooops!</h1>
                <h1 style="font-weight: bold;">404</h1>
                <p>We can't seem to find the page you're looking for or you don't have the access. </p>
            </div>

            <div class="backLoginBtn">
                <button (click)="onclick()">
                        Back to login page
                </button>
                <i class="fa-solid fa-arrow-left"></i>
            </div>
    </div>
    </div>
</body>
</html>
