<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="footer">
        <div class="champ description">
            <p>
                Flesk is a software development company that provides end-to-end services and custom solutions to startups and companies in various industries including retail, banking, insurance, hospitality, education, fashion, jewelry, etc.
            </p>
        </div>
        <div class="champ logo">
                <a class="navbar-brand mt-2 mt-lg-0" href="https://fleskconsulting.com/">
                    <img
                      src="https://fleskconsulting.com/themes/demo/assets/images/img/logo.svg"
                      height="60"
                      alt="MDB Logo"
                      loading="lazy"
                    />
                  </a>
            
        </div>
        <div class=" champ contact">
            <div class="item local">
                <i class="fa-solid fa-phone"></i>&nbsp;&nbsp;
                (+33)9 70 44 95 00
            </div>
            <div class="item location">
                <i class="fa-sharp fa-solid fa-location-dot"></i>&nbsp;&nbsp;
                Tunisia, Monastir, 5000 
            </div>
            <div class=" item links">
            <a class="item fb" href="https://www.facebook.com/profile.php?id=100079340243858&notif_id=1650453815934789&notif_t=page_name_change_admin&ref=notif" target="_blank">
                <i class="fa-brands fa-facebook"></i>
            </a>&nbsp;&nbsp;
            <a class="item in" href="https://www.linkedin.com/company/flesk-consulting/" target="_blank">
                <i class="fa-brands fa-linkedin"></i>
            </a>&nbsp;&nbsp;
            <a class="item website" href="https://fleskconsulting.com/" target="_blank">
                <i class="fa-solid fa-globe"></i>     
            </a>
        </div>
            
        </div>
    </div>
</body>
</html>
