<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>

    <div class="header">
        <h2>update dependency </h2>
    </div>

    <mat-divider></mat-divider>

    <div class="content">
        <div class="input" appearance="fill">
            <label>Dependency Name<span style="color:red;">*</span></label>
            <input class="champ" [(ngModel)]="name_dependency" required type="text" name="name" value="name_dependency" matInput>
         </div>

          <div class="input" appearance="fill">
            <label>Version Dependency<span style="color:red;">*</span></label>
            <input class="champ" [(ngModel)]="version_dependency" required type="text" name="version" value="version_dependency"  matInput>
          </div>
          <div class="input" appearance="fill">
            <label>Dependency Type<span style="color:red;">*</span></label>
            <select  class="champ" [(ngModel)]="type_dependency" >
                <option value="dependency">dependency</option>  
                <option value="devDependency">devDependency</option>  
              </select>
         </div>
          
        
        <div class="response">
            <ngb-alert *ngIf="this.alert != ''" [dismissible]="false">
               {{this.alert}}
            </ngb-alert>
        </div>

    <mat-divider></mat-divider>
    <div class="btns">
        <button (click)="closeDialog()" type="button" class="btn btn-tertiary cancel" mdbRipple>Cancel</button>
        <button (click)="onclick()" type="button" class="btn btn-primary confirm">update</button>
    </div>
    </div>

    <ngx-spinner bdColor="rgba(51, 51, 51, 0.8)" size="default" type="ball-spin-clockwise">  
        <p style="color: white">Please Wait. </p>  
    </ngx-spinner>
</body>
</html>

