<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="header">
        <h2> Confirmation </h2>
    </div>
    <mat-divider></mat-divider>
    <div class="content">
        <div class="msg">
            <p> Are you sure you want to delete {{content}} ?</p>
            <p> This action cannot be undone.</p>
        </div>
        <mat-divider></mat-divider>
        <div class="btns">
            <button [mat-dialog-close]="false" (click)="closeDialog()" type="button" class="btn btn-tertiary cancel" mdbRipple>Cancel</button>
            <button [mat-dialog-close]="true" type="button" class="btn btn-primary confirm">Confirm</button>
        </div>
    </div>

</body>
</html>