body{
    width:470px;
    height:220px;
    box-shadow: 10px solid blue;
    border: none;
}

.header {
    padding:7px;
    text-align: left;
}

mat-divider{
    padding:2px;
}
.content .msg {
    font-size: 1.1em;
    padding: 7px 10px;
}

.content .btns{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding:7px;
}

.content .btns .confirm{
    background-color: #009688;
    border:none;
    color:white;
}

.content .btns .cancel{
    background-color: transparent;
    color: #009688;
    border:none;
}