*{
    padding:0;
    font-family: 'Lato', sans-serif;
    font-family: 'Poppins', sans-serif;
    color:#c1c0c6;
}

body{
    background-color: #0a0624;
    height: auto;
    min-height: 100%;
    padding-bottom:20px;
}

.header{
    padding-top:20px;
    text-align:center;
}

.header h3{
    font-weight: bolder;
}

mat-divider{
    border-color: rgb(145, 145, 145);
    border-width: 2px;
    margin:20px;
}

.head .title{
    text-align: center;
    font-weight:bolder;
}

.head .description{
    text-align: center;
    margin-right: 32em;
}

span{
    color: red;
}

.response ngb-alert{
    background-color: transparent;
    padding:1em 12.8em;
    color: black;
    font-size: 1.1em;
}

.error ngb-alert strong{
    color: brown;
}

.success ngb-alert{
    border : none;
}

.success ngb-alert strong{
    color: #033e01
}

fieldset{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: column;
    height:auto;
}

mat-card{
    background-color: white;
    border: none;
    width: 50em;
    border-radius: 20px;
    box-shadow: 0 5px 1px -1px rgba(255,255,255,1), 
                0 5px 1px 0 rgba(255,255,255,1), 
                0 5px 3px 0 rgba(255,255,255,1);
    
}

mat-card-title{
    color: black;
    font-weight: bold;
    font-size:1.5em;
}

mat-card-actions{
    display: flex;
    flex-direction: column;
    justify-content: space-evenly !important;
    align-items: center;
}

mat-card-actions .container{
    margin-left:1em;
}

mat-card-actions .champs{
    margin-bottom: 1em;
    display:flex;
    flex-direction: row;
    justify-content:space-evenly;
    align-items:center;
}

mat-card label{
    color: black;
    text-align: left;
    display: inline-block;
    width: 250px;
    font-weight: 600;
}

mat-card-actions .input{
    color: black;
    text-align: left;
    width:23em;
    display: inline-block;
    max-width: 500px;
}

mat-form-field input{
    color: black;
    height:0;
}

.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
  }
  
  .example-full-width {
    width: 100%;
  }

.btns{
    margin-top:2em;
    margin-left: 38em;
}

.btns .btn{
    padding : 0.6em 1.2em;
    font-size: 1.1em;
}

.btns .add{
    background-color: #009688;
    border:none;
    color:white;
    margin-left: 0.5em;
}

.btns .cancel{
    background-color: transparent;
    color: #009688;
    border:none;
}

.btns a{
    text-decoration: none;
    color: #009688;
}

.btns a:hover{
    color: #009688;
}

.updatePassword{
    width:100%;
}

.updatePasswordBtn{
    display:flex;
    align-items:center;
    justify-content: flex-end;
    margin: 0.8em 3em;
}
.updatePassword .btn{
    padding : 0.6em 1.2em;
    font-size: 1.1em;
    background-color: #009688;
    border:none;
    color:white;
}

.response{
    display: flex;
    justify-content: center;
    align-items: center;
}

ngb-alert{
    padding:1em 12.8em;
    color: black;
    font-size: 1.1em;
}

ngb-alert strong{
    color: brown;
}

@media only screen and (max-width: 577px) {

    ngb-alert{
        padding:1em 6em;
        font-size: 0.9em;
    }

    .head .title{
        font-size:1.2em;
    }

    .head .description{
        text-align: center;
        margin-right: 12em;
    }

    mat-card{
        width:30em;
    }
    mat-card-actions .container{
        margin-left:0;
    }

    mat-card-actions .input{
        width:20em;
    }

    .btns{
        margin-left:18em;
    }
}

@media only screen and (max-width: 828px) and (min-width:577px){
    ngb-alert{
        padding:1em 7em;
        font-size: 1em;
    }
    
   

    .head .title{
        font-size:1.2em;
    }

    .head .description{
        text-align: center;
        margin-right: 17em;
    }

    mat-card{
        width:35em;
    }
    mat-card-actions .container{
        margin-left:0;
    }

    mat-card-actions .input{
        width:20em;
    }

    .btns{
        margin-left:24em;
    }
}